.navbar-expand .navbar-nav .nav-link{
  padding-left: 0;
}
.sidebar-collapse .navbar-expand .navbar-nav .nav-link{
  transform:rotate(45deg);
  transition:all .3s;
}










.brand-link .brand-image{
  float:none;
  margin-left: rem(60);
}
.fa-th-large{
  opacity: .7;
}
.nav-sidebar .nav-link p.one-depth{
  margin-left: 10px;
}
.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon{
  width: 1rem;
}
.nav-sidebar .menu-open > .nav-link i.right{
  transform: rotate(90deg);
}

[class*='sidebar-light-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-light-'] .nav-sidebar > .nav-item:hover > .nav-link{
  background:  none;
  color:#17a2b8;
}

[class*='sidebar-light-'] .nav-treeview > .nav-item > .nav-link:hover{
  background: none;
  color:#17a2b8;
}